{% extends 'base.html.twig' %}

{% block title %}awa's web site{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #f4bbff; padding: 2px 6px; }</style>
	 {%block style%}<style>  body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .text {
            width: 60%; /* Ajustez la largeur selon vos besoins */
        }

        .image {
            width: 40%;
			height: 180 px ;
			/* Ajustez la largeur selon vos besoins */
        }

        img {
            max-width: 60%;
            height: 90 px;
        }.blog-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-bottom: 20px;
            border: 4px solid #E59866 ; /* Ajoutez une bordure pour la séparation visuelle entre les sections */
			border-radius: 100 px ;
        }
</style>{%endblock%}
	<body>
	<header><h1>Welcome let's see my hobbies<h1></header>
	 <div class="container">
        <div class="text">
		<div class="blog-section">
        <div class="text">
            <h2>Cooking</h2>
            <p>Passionate about cooking, I'm constantly exploring new recipes and innovative ingredients to create dishes that tantalize the taste buds. My love for cooking goes beyond mere meals, becoming a daily culinary adventure.

			</p>
        </div>
        <div class="image">
            <img src="yassa.jpg" alt="Image Films">
        </div>
    </div>

    <div class="blog-section">
        <div class="text">
            <h2>Korea</h2>
            <p>K-dramas serve as my cinematic refuge, immersing me in emotionally rich and intriguing stories. Each series becomes an exploration of Korean culture, providing captivating moments and memorable characters that linger in my mind.</p>
        </div>
        <div class="image">
            <img src="image.jpg" alt="Image Musique">
        </div>
    </div>

    <div class="blog-section">
        <div class="text">
            <h2>kpop Mangas </h2>
            <p>The world of manga and kpop are my gateway to imaginary realms, blending fantasy, adventure, and intense emotions. Through every page, I discover fascinating stories, endearing characters, and an art form that transcends cultural boundaries.</p>
        </div>
        <div class="image">
            <img src="capture.jpg" alt="Image Plat">
        </div>
    </div>
            
        </div>
        <div class="image">
            <img src="collage1.jpg" >
        </div>
    </div>

			
			
            
  
{% endblock %}
