{% extends 'base.html.twig' %}

{% block title %}awa's website{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #f4bbff; padding: 2px 6px; }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FBFCFC;
            color:  #333;
        }

        header {
            background-color: #FBFCFC;
            color:#333;
            text-align: center;
            padding: 20px;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }

        .section {
            margin-bottom: 20px;
            border: 2px solid #E59866 ;
            border-radius: 15px;
            padding: 15px;
        }

        .section h2 {
            color: #E59866 ;
        }.section h1 {
            color: #E59866 ;
        }

        .left {
            float: left;
            width: 45%;
            margin-right: 5%;
        }

        .right {
            float: right;
            width: 45%;
            margin-left: 5%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Awa CAMARA</h1>
        <p><strong>Mail</strong>: cawa3002@gmail.com<br><strong>Numéro mobile</strong>: 0789948204<br><strong>Adresse</strong>:24rue Fontquentin</p>
    </header>

    <div class="container">
        <div class="section left">
            <h2>Compétences</h2>
				<ul>
					<li>Intermédiaire entre professeurs et étudiants  </li>
					<li>Expliquer et corriger les exercices des éléves</li>
					<li>Prise de constantes des patients à l’hôpital  </li>
					<li>Travail d’équipe,communication efficace</li>
					<li> Maîtrise de pack office  </li>
					<br>
				</ul>	
        </div>

        <div class="section right">
            <h2>Formations</h2>
                <h5>2022 - 2023      Université UCAD,Dakar</h5>
				
					Faculté de médecine et d’odontologie<br>
					<br>
				<h5>2023 - 2024Institut universitaire de  technologie de Roanne</h5>
					 BUT en réseaux et télécommunications<br>
					 

								   
				        
        </div>

        <div class="section left">
            <h2>Expériences professionnelles</h2>
			<ul>
                <li>Accompagnateur collégiens					            </li>
				<li>Membre  à l’amical des étudiants </li>
				<li>Co-gèrante laverie familiale                        </li>
				<li>Stage à l’hôpital Principal    </li>
			</ul>	
        </div>
		
		 <div class="section right">
            <h2>Loisirs/Langues</h2>
			<ul>
                <li>Cuisine</li>
				<li>Films et pop coréennes</li>
				<li>Voyages  </li>
				<li>langue maternelle: wolof</li>
				<li>Francais c1</li>
				<li>Anglais A2</li>
				
			</ul>	
        </div>
		 
    </div>
	<section class="contact" id="contact">
        <h1 class="heading"><span>Formulaire</span></h1>

        <div class="row" style="align-item:center;">
            <form method="post" action="awa">
			<label for"name">Nom :</label>
			
                <input type="text" id="name" name="name"  required>
				<label for"surname">prénom :</label>
				<input type="text" id="surname" name="surname"  required>
				<label for"email">Email :</label>
                <input type="email" id="email" name="email"  required>
             
               

                <button type="submit" class="btn btn-order rounded-0" style="color:black;">
                    <a href="/awa.pdf" download="awa.pdf">Télécharger CV<i class="fas fa-paper-plane"></i></a>
                </button>
            </form>
        </div>
    </section>
</body>
</html>
{% endblock %}
