{% extends 'base.html.twig' %}

{% block title %}awa's website{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #f4bbff; padding: 2px 6px; }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FBFCFC;
            color:  #333;
        }

        header {
            background-color: #FBFCFC;
            color:#333;
            text-align: center;
            padding: 20px;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }

        .section {
            margin-bottom: 20px;
            border: 2px solid #E59866 ;
            border-radius: 15px;
            padding: 15px;
        }

        .section h2 {
            color: #E59866 ;
        }.section h1 {
            color: #E59866 ;
        }

        .left {
            float: left;
            width: 45%;
            margin-right: 5%;
        }

        .right {
            float: right;
            width: 45%;
            margin-left: 5%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Awa CAMARA</h1>
        <p>Administrateur réseau </p>
    </header>

    <div class="container">
        <div class="section left">
            <h2>Compétences</h2>
				<ul>
						<li>Conception de Réseaux</li> 
						<ul>
   <li>Planification et mise en place de réseaux locaux (LAN) et étendus (WAN).</li>
  <li> Compréhension des architectures réseau, topologies et protocoles associés.</li>
  </ul>
  

<li>Sécurité des Réseaux</li>
   <ul>
   <li>Connaissance des vulnérabilités réseau et des bonnes pratiques de sécurité.</li>
   </ul>
				</ul>	
        </div>

        <div class="section right">
            <h2>Compétences</h2> <ul>
               <li>Protocoles et Services Réseau</li>
			   <ul>
  <li> Maîtrise des protocoles TCP/IP, DNS, DHCP.</li>
  <li> Configuration et gestion de services réseau tels que DNS et DHCP.</li>
   </ul>

<li>Équipements Réseau</li>
<ul>
   <li> Utilisation et configuration de  commutateurs CISCO.</li>
   </ul>

	</ul>							   
				        
        </div>

        <div class="section right">
            <h2>Outils de Diagnostic et virtualisation </h2>
             <ul>
			 <li>Utilisation de Wireshark </li>
			<li> Mise en place et gestion de machines virtuelles</li>
				</ul>
        </div>
		 <div class="section left">
            <h2>Certification </h2>
                <p>Certification du MOOC sur la sensibilisation à la cybersécurité</p>
        </div>
		 
    </div>
			<img src="ré.jpg" alt="Image Films">	
</body>
</html>
{% endblock %}
